
  /*  */
.main-cart {
    width: 70%;
    height: auto;
    border-radius: 8px;
    margin-top: 15px;
	background-color: white;
}
.cartt {
	width: 100%;
	margin: 0 auto;
	padding: 20px;
  }
.box-container {
	
}
.cartt .cart-img {
	width: 100%;
    height: 120px;
    object-fit: contain;
}
.cartt .title {
	
}
h2 {
	font-size: 24px;
	margin-bottom: 20px;
}
  
table {
	width: 100%;
	border-collapse: collapse;
}
  
th {
	text-align: left;
	padding: 10px;
	background-color: #f5f5f5;
	border-bottom: 1px solid #ddd;
}
  
td {
	padding: 10px;
	border-bottom: 1px solid #ddd;
  }
  
  /* quantity */
.product-quantity {
	display: flex;
	padding: 20px 0;
	align-items: center;
	justify-content: flex-start
  }
  .input-group {
	display: flex;
	padding-left: 50px;
  }
  .quantity-input {
	
  }
  .minus-btn,
  .plus-btn{
	padding: 6px 10px;
	cursor: pointer;

}
  .input-group input {
	padding-left: 18px;
  }
  
  .quantity-input {
	width: 60px;
  }
  .pricee {
	color: red;
	font-weight: bold;
  }
  .delete {
	border: none;
    background-color: red;
    padding: 8px 12px;
    border-radius: 6px;
	color: white;
  }
  .delete:hover {
    background-color: orange;
    color: white;
    cursor: pointer;
  }
  tfoot td {
	font-weight: bold;
	padding: 20px 10px;
color: red;

  }
  .checkout {
	margin-top: 20px;
	display: flex;
	justify-content: center;
  }
  .checkout-button {
	/* width: 60%; */
	color: white;
	background: rgb(15, 111, 255);
	border: none;
	padding: 16px;
	border-radius: 6px;
  }
  .checkout-button:hover {
	background-color: greenyellow;
	color: black;
	cursor: pointer;
}

  /* end */
  /* button {
	background-color: #f44336;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s;
  } */
  
  /* button:hover {
	background-color: #ff8f86;
  } */
  
  