* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.pagination a {
  display: inline-block;
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid var(--border-light);
  border-radius: 5px;
  text-decoration: none;
  color: var(--text-muted);
  font-weight: bold;
  transition: background-color 0.2s ease;
}

.pagination a:hover {
  background-color: var(--primary-red-soft);
  color: var(--bg-white);
}

.pagination .active {
  background-color: var(--primary-red-soft);
  color: var(--bg-white);
}


.pagination .prev,
.pagination .next {
  border: none;
  background-color: transparent;
  font-size: 20px;
  color: var(--text-muted);
  cursor: pointer;
}

.pagination .prev:hover,
.pagination .next:hover {
  background-color: var(--primary-red-soft);
  color: var(--bg-white);
}

.pagination .prev.disabled,
.pagination .next.disabled {
  pointer-events: none;
  opacity: 0.4;
  background-color: transparent;
  color: var(--text-muted);
}
