/* Mobile: width < 740px */
@media (max-width: 739px) {
    
}
/* Tablet: width >= 740px and width < 1024px */
@media (min-width: 740px) and (max-width: 1023px) {
    
}
.header-mobile {
    display: none;
}

/* mabile , tablet */
@media (max-width: 1023px) {
    .top-banner {
        display: none;
    }
    .header {
        display: none;
    }
    .header-mobile {
        display: flex;
        width: 100%;
        background-color: #C92127;
        align-items: center;
    }
    header {
        width: 100%;
    }
    header .logo img {
        max-width: 130px;
        max-height: 30px;
        margin-top: 5px;
        align-items: center;
    }
    .header-inner-mobile {
        display: flex;
        /* justify-content: space-between; */
        align-items: center;
        width: 100%;
        margin-top: 15px;
        margin-bottom: 12px;
        padding: 0 10px;
    }
    
    .header-nav-icon-mobile {
        background: url(https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_menu_white.svg) no-repeat center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    height: 34px;
    width: 34px;
    cursor: pointer;
    }
    
    .nav__overlay {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 3;
        display: none;
        animation: fadeIn linear 0.2s;
    }
    .nav__mobile {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 320px;
        max-width: 100%;
        background-color: #fff;
        z-index: 4;
        transform: translateX(-100%);
        transition: transform linear 0.4s, opacity linear 0.4s;
        opacity: 0;
    }
    .nav__input:checked ~ .nav__overlay {
        display: block;
    }
    .nav__input:checked ~ .nav__mobile {
        transform: translateX(0);
        opacity: 1;
    }
    .nav__mobile ul li {
        text-transform: uppercase;
        list-style-type: none;
    }
    .nav__mobile ul li a {
        text-decoration: none;
        padding: 8px 20px;
        display: block;
        color: black;
    }
    .nav__mobile ul li a:hover {
        color: #fff;
        background-color: #C92127;
    }
    .nav__mobile-icon {
        padding: 20px;
        font-size: 20px;
        color: #fff;
        width: 100%;
        background-color: #C92127;
    }
    .nav__mobile-icon span {
        margin-left: 60px;
    }
    .nav-mobile {
        display: block;
        padding: 0;
    }
    .subnav-mobile {
        display: none;
    }
    .nav-item-mobile i {
        padding-left: 20px;
    }
    .nav-item-mobile:hover .subnav-mobile {
        display: block;
    }
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    /*  */
    .search-mobile {
        width: 100%;
        margin: 0 10px;
    }
    .input-mobile[type="text"]  {
        width: 100%;
        border: 1px solid #fff ;
        border-radius: 5px;
        outline: none;
        padding: 4px 0 4px 10px;
        font-size: 13px;
        /* color: #fff; */
    }
    
    .cart i {
        color: #fff;
        padding-left: 10px;
    }
    .login i {
        color: #fff;
        padding-left: 10px;
    }
}
