*{
    margin:0;
    padding:0;
    border: none;
}
.sidebar {
    background-color: #192433;
    padding: 0 40px;
    height: 50px;
    line-height: 50px;
    font-family: sans-serif;
    color: white;
}
ul {
    float: right;
}
li {
    display: inline;
    transition: 0.3s;
    padding: 12px 18px;
}

.logo {
    float: left;
    cursor: pointer;
}

li a {
    color: white;
    text-decoration: none;
}

.icon {
    float: right;
    display: none;
}
ul li:hover{
    background-color:#009688;
    border-radius: 3px;
    transition: 0.3s;
}
ul.cap_2 {
    width: 200px;
    height: 153px;
    border: 1px solid #192433;
    background-color: #192433;
    position: absolute;
    top: 41px;
    left: 1px;
    box-shadow: 2px 2px 4px 1px #00000057;
    display: none;
}

ul.cap_2 li {
    display: block;
    color: white;
    border-bottom: 1px solid white;
    padding: 0;
    text-align: center;
    cursor: pointer;
}

ul.cap_2 li:last-child {
    border: none;
}

li{
    position: relative;
}
li:hover ul.cap_2 {
    display: block;
}
@media(max-width:1000px){
    ul{
        display: none;
    }
    ul.active {
        margin: 0;
        background-color:black;
        width: 100%;
        height: 100%;
        position: fixed;
        top:50px;
        left: 0px;
        display: block;
    }
    ul li{
        display: block;
        text-align: center;
        border-bottom: 1px solid white
    }
    .icon{
        display: block;
    }
    ul.cap_2{
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 9999;
        left: 0px;
    }
}